extends ../base
include ../mixins/ingredient

block content 
    div
        if messages.error 
            span=messages.error
        div
            div
                span=recipe.title
                span=recipe.description
                span #{recipe.time}분
        if  loggedIn
            div  
                h3 빨리 사용해야해요!
                ul 
                    each ingredient in ingredients 
                        +ingredient(ingredient)
                span 모두보기 &rarr;
            div     
                h3 새로 구입해야해요!
                ul 
                    each ingredient in ingredients 
                        +ingredient(ingredient)
                span 모두보기 &rarr;
    include ../partials/nav