extends ../base

block content
    div 
        h3 회원가입
        form
            input(type="text" placeholder="이메일") 
            input(type="password" placeholder="비밀번호 입력")
            input(type="password" placeholder="비밀번호 확인")
            input(type="text" placeholder="이름") 
            input(type="submit" value="회원가입")
    
