extends ../base

block content
    div 
        h3 로그인
        if messages.success 
            span=messages.success
        if messages.error 
            span=messages.error
        form(method="post")
            input(type="text" placeholder="이메일 입력" name="email") 
            input(type="password" placeholder="비밀번호 입력" name="password")
            input(type="submit" value="로그인")
        ul
            li 
                a Github으로 로그인
            li
                a(href="/join") 회원가입 하러가기
            
