extends ../base

block content
    div 
    h3 로그인
        form
            input(type="text" placeholder="아이디 입력") 
            input(type="password" placeholder="비밀번호 입력")
            input(type="submit" value="로그인")
    a Github으로 로그인
    a 회원가입 하러가기
    a 비밀번호 찾기
