.comment {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  align-items: center;
  margin-bottom: 10px;
  .comment__anchor {
    .comment__avatar {
      width: 30px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      margin-right: 10px;
    }
    .comment__no-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      background-color: $orange;
      color: white;
      width: 30px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  .comment__text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    .comment__content {
      font-size: 16px;
      margin-top: 3px;
    }
  }
  .comment__btn {
    display: flex;
    gap: 5px;
    button {
      @include button;
      width: 45px;
      padding: 5px 0px;
      border: none;
      font-size: 10px;
      background-color: $orange;
      color: #ffffff;
    }
  }
  .comment__edit__input {
    position: absolute;
    top: 13px;
    left: 38px;
    font-size: 16px;
    padding: 2px 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    &:focus {
      outline: none;
    }
  }
}
