.recipe {
  @include box;
  font-size: 14px;
  .recipe__container {
    display: flex;
    padding: 10px;
    .recipe__image {
      max-width: 150px;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 10px;
    }
    .recipe__content {
      margin-left: 20px;
      margin-top: 25px;
      .recipe__name {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .recipe__description {
        font-weight: lighter;
        margin-bottom: 15px;
      }
      .recipe__info {
        display: flex;
        align-items: center;
        gap: 10px;
        .recipe__heart {
          letter-spacing: 5px;
          padding-right: 10px;
          border-right: 1px solid;
          i {
            color: $red;
          }
        }
        .recipe__serving {
          padding-right: 10px;
          border-right: 1px solid;
          span {
            @include button;
            font-size: 15px;
            font-weight: bold;
            color: #fff;
            background-color: $orange;
          }
        }
        .recipe__time {
          span:first-child {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
