mixin comment(comment)
    li(data-id=comment._id).comment
        a(href=`/user/${comment.owner._id}`).comment__anchor
            if comment.owner.avatar !== undefined
                img(src="/" +comment.owner.avatar).comment__avatar
            else 
                div.comment__no-avatar
                    i.fas.fa-user
        div.comment__text
            span=comment.owner.name
            span.comment__content=comment.content
        if loggedInUser._id === comment.owner._id.toString()
            div.comment__btn
                button.comment__delete Delete
                button.comment__edit Edit
