mixin comment(comment)
    li(data-id=comment._id).comment
        if comment.owner.avatar !== undefined
            img(src="/" +comment.owner.avatar)
        else 
            div 
                i.fas.fa-user
        span=comment.owner.name
        span.comment__content=comment.content
        if loggedInUser._id === comment.owner._id.toString()
            button.comment__delete Delete
            button.comment__edit Edit
