extends ../base 
include ../mixins/recipe

block content 
    div 
        div
            form(method="get" action="/square/search")
                input(type="text" placeholder="검색" name="keyword")
                input(type="submit" value="Search")  
        div  
            if recipes.length !== 0 
                each recipe in recipes
                    +recipe(recipe)
            else
                span No Recipe
    include ../partials/nav
    
        