@import "./reset.scss";
@import "./variables.scss";
// Components
@import "./components/button.scss";
@import "./components/box.scss";
@import "./components/header.scss";
@import "./components/nav.scss";
@import "./components/footer.scss";
@import "./components/ingredient.scss";
@import "./components/recipe.scss";
// Pages
@import "./pages/home.scss";
@import "./pages/user-ing.scss";
@import "./pages/user-recipe.scss";
@import "./pages/user-detail.scss";
@import "./pages/square-recipes.scss";
@import "./pages/login.scss";
@import "./pages/join.scss";
@import "./pages/ing-add.scss";
@import "./pages/ing-detail.scss";
@import "./pages/ing-edit.scss";
@import "./pages/recipe-add.scss";

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
}

main {
  max-width: 980px;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 0 10px;
}

.page__title {
  font-size: 26px;
  font-weight: bold;
  margin-left: 10px;
  letter-spacing: 2px;
}

.add__btn {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 16%;
  background-color: $orange;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  i {
    color: #ffffff;
    font-size: 30px;
  }
}

.search__form {
  position: relative;
  display: flex;
  justify-content: center;
  &:focus-within {
    button {
      opacity: 1;
      right: 30px;
    }
  }
  input {
    width: 30%;
    max-width: 980px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.3s ease-in-out;
    &:focus {
      width: 100%;
      outline: none;
    }
  }
  button {
    opacity: 0;
    position: absolute;
    border: none;
    background-color: initial;
    font-size: 22px;
    top: 7px;
    right: 37%;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
  }
}

.form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  input {
    padding: 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
  }
}
