@import "./reset.scss";
@import "./variables.scss";
// Components
@import "./components/button.scss";
@import "./components/box.scss";
@import "./components/header.scss";
@import "./components/nav.scss";
@import "./components/footer.scss";
@import "./components/title-header.scss";
@import "./components/title-box.scss";
@import "./components/form.scss";
@import "./components/form-button.scss";
@import "./components/mixin/ingredient.scss";
@import "./components/mixin/recipe.scss";
@import "./components/mixin/comment.scss";
@import "./flash.scss";
// Pages
@import "./pages/home.scss";
@import "./pages/user-ing.scss";
@import "./pages/user-recipe.scss";
@import "./pages/user-detail.scss";
@import "./pages/user-edit.scss";
@import "./pages/user-password.scss";
@import "./pages/square-recipes.scss";
@import "./pages/login.scss";
@import "./pages/join.scss";
@import "./pages/ing-add.scss";
@import "./pages/ing-detail.scss";
@import "./pages/ing-edit.scss";
@import "./pages/recipe-add.scss";
@import "./pages/recipe-detail.scss";
@import "./pages/recipe-edit.scss";

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  color: $black;
  background-color: rgba(0, 0, 0, 0.05);
}

main {
  max-width: 980px;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 0 10px;
}

.page__title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
}

.add__btn {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 16%;
  background-color: $orange;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  i {
    color: #ffffff;
    font-size: 30px;
  }
}
