$orange: #ff8800;
$dark-orange: #ff7300;
$blue: #298dff;
$dark-blue: #1b76dd;
$green: #15af53;
$dark-green: #1a944b;
$red: #ff543d;
$black: #222222;
$transparent-black: rgba(0, 0, 0, 0.8);
$shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
