.form {
  display: flex;
  flex-direction: column;
  input {
    padding: 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    box-shadow: $light-shadow;
    &:hover {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
}

.search__form {
  position: relative;
  display: flex;
  justify-content: center;
  &:focus-within {
    button {
      opacity: 1;
      right: 30px;
    }
  }
  input {
    @media screen and (max-width: 767px) {
      width: 50%;
    }
    width: 30%;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    box-shadow: $shadow;
    transition: all 0.3s ease-in-out;
    &:focus {
      width: 100%;
      outline: none;
    }
  }
  button {
    opacity: 0;
    position: absolute;
    border: none;
    background-color: initial;
    font-size: 22px;
    top: 7px;
    right: 37%;
    transition: all 0.3s ease-in-out;
  }
}
