header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  ul {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
    padding: 25px 0px;
    li {
      color: $orange;
      font-size: 24px;
      i {
        padding-right: 10px;
      }
      span {
        font-weight: bold;
        letter-spacing: -1px;
      }
    }
  }
}
