extends ../base 

block content 
    div 
        form(method="post")
            div
                input(type="text" placeholder="요리명" name="name" required)
            div
                input(type="number" placeholder="인원" name="serving" required)             
                span 인분
            div
                input(type="number" placeholder="소요시간" name="time" required)             
                span 분
            div
                h5 필요재료
                input(type="text" placeholder="재료명" name="ingredient" required)
                input(type="text" placeholder="필요량" name="ingredientAmount" required)
                input(type="radio" id="gramAmount" name="amountType" value="g" required)
                label(for="gramAmount") 그램(g) 
                input(type="radio" id="mlAmount" name="amountType" value="ml" required)
                label(for="mlAmount") 밀리(ml) 
                input(type="radio" id="countAmount" name="amountType" value="개" required)
                label(for="countAmount") 개수
                input(type="radio" id="countAmount" name="amountType" value="Ts" required)
                label(for="countAmount") Ts
                input(type="radio" id="countAmount" name="amountType" value="ts" required)
                label(for="countAmount") ts
                button 재료추가하기                 
            div
                h5 조리순서
                textarea(name="order", cols="30", rows="2") 
                button 순서추가하기 
            input(type="submit" value="요리완성")