.home__banner {
  cursor: pointer;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  .home__banner__image {
    max-width: 980px;
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    .home__banner__contents {
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 35%;
      font-weight: lighter;
      .home__banner__recommend {
        font-size: 28px;
      }
      .home__banner__name {
        font-size: 36px;
        font-weight: bold;
      }
      .home__banner__description {
        font-size: 22px;
      }
      .home__banner__info {
        margin-top: 10px;
        font-weight: normal;
        .home__banner__serving {
          @include button;
          margin-right: 10px;
        }
        .home__banner__time {
          @include button;
          background-color: rgba(256, 256, 256, 0.7);
          color: #000000;
        }
      }
    }
  }
}

.home__ing {
  margin-top: 30px;
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  .home__ing__container {
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    h5 {
      font-size: 15px;
      font-weight: lighter;
      letter-spacing: 3px;
      margin-bottom: 30px;
    }
    .home__ing__list {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
    }
    .home__ing__all {
      align-self: flex-end;
      font-size: 15px;
      font-weight: lighter;
    }
  }
}
