.ingredient__edit__delete {
  display: block;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 15px;
  box-shadow: $shadow;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
