.ingredient__detail {
  @media screen and (max-width: 767px) {
    padding-top: 50px;
  }
  padding-top: 15vh;
  .ingredient__detail__title__store {
    text-align: center;
    margin-bottom: 15px;
    span {
      @include button;
      padding: 2px 20px;
      font-size: 20px;
      color: #ffffff;
      box-shadow: $shadow;
    }
    .ingredient__detail__title__store__cold {
      background-color: $orange;
    }
    .ingredient__detail__title__store__frozen {
      background-color: $blue;
    }
    .ingredient__detail__title__store__room {
      background-color: $green;
    }
  }
  .ingredient__detail__container {
    @include box;
    @media screen and (max-width: 767px) {
      width: 300px;
      padding: 15px;
    }
    display: flex;
    align-items: center;
    width: 450px;
    margin: 0 auto;
    .ingredient__detail__left {
      @media screen and (max-width: 767px) {
        margin-right: 10px;
        padding-right: 10px;
      }
      width: 50%;
      margin-right: 30px;
      padding-right: 30px;
      border-right: 1px solid rgba(0, 0, 0, 0.3);
      .ingredient__detail__title {
        @media screen and (max-width: 767px) {
          font-size: 22px;
        }
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
      }
      .ingredient__detail__amount {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .ingredient__detail__amount__content {
          @media screen and (max-width: 767px) {
            font-size: 16px;
          }
          font-size: 24px;
          font-weight: lighter;
        }
        .ingredient__detail__amount__form {
          @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          margin-top: 5px;
          .ingredient__detail__amount__form__spend {
            border-radius: 10px;
            .spend__input {
              @media screen and (max-width: 767px) {
                font-size: 12px;
                width: 70px;
                padding: 3px 5px;
              }
              width: 90px;
              padding: 5px 10px;
              border: 1px solid rgba(0, 0, 0, 0.8);
              border-radius: 10px 0px 0px 10px;
              &:focus {
                outline: none;
              }
            }
            .spend__btn {
              @media screen and (max-width: 767px) {
                font-size: 12px;
                padding: 3px 5px;
              }
              padding: 5px 10px;
              color: #ffffff;
              background-color: rgba(0, 0, 0, 0.8);
              border: 1px solid rgba(0, 0, 0, 0.8);
              border-left: none;
              border-radius: 0px 10px 10px 0px;
            }
          }
          .ingredient__detail__amount__form__add {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            input[type="checkbox"] {
              @media screen and (max-width: 767px) {
                width: 15px;
                height: 15px;
                margin-right: 3px;
              }
              appearance: none;
              width: 20px;
              height: 20px;
              margin-right: 5px;
              border: 1px solid $black;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
            }
            input[type="checkbox"]:checked {
              border: 7px solid $orange;
            }
            label {
              @media screen and (max-width: 767px) {
                font-size: 12px;
              }
              font-size: 16px;
            }
          }
        }
      }
    }
    .ingredient__detail__right {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      .ingredient__detail__date {
        .ingredient__detail__date__content {
          @media screen and (max-width: 767px) {
            font-size: 10px;
          }
          margin-bottom: 10px;
          display: grid;
          grid-template-columns: 2.5fr 5fr;
          align-items: center;
          font-size: 13px;
          h5 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            background-color: $orange;
            color: #ffffff;
            border: 1px solid $orange;
            border-radius: 15px 0px 0px 15px;
          }
          span {
            @media screen and (max-width: 767px) {
              padding-left: 5px;
            }
            display: flex;
            align-items: center;
            height: 25px;
            padding-left: 10px;
            border: 1px solid rgba(0, 0, 0, 0.8);
            border-radius: 0px 15px 15px 0px;
            border-left: none;
          }
          &:nth-child(2) {
            h5 {
              border: 1px solid rgba(0, 0, 0, 0.8);
              background-color: rgba(0, 0, 0, 0.8);
            }
          }
        }
      }
      .ingredient__detail__edit {
        margin: 10px;
        align-self: flex-end;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
  .ingredient__detail__popup {
    @include box;
    width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-top: 20px;
    .ingredient__detail__popup__text {
      margin-bottom: 20px;
    }
    .ingredient__detail__popup__btn__container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .ingredient__detail__popup__btn {
        @include button;
        width: 120px;
        border: none;
        font-size: 14px;
        color: #ffffff;
      }
      .ingredient__detail__popup__btn--add {
        background-color: $orange;
        &:hover {
          background-color: $dark-orange;
        }
      }
      .ingredient__detail__popup__btn--delete {
        background-color: $red;
        &:hover {
          background-color: #dd5341;
        }
      }
    }
  }
}
