.ingredient__layout {
  @media screen and (max-width: 767px) {
    padding-top: 20px;
  }
  padding-top: 50px;
  .ingredient__layout__header {
    @include box;
    @include titleHeader;
  }
  .ingredient__layout__container {
    @include box;
    @include titleBox;
  }
  .ingredient__layout__radio__container {
    @media screen and (max-width: 767px) {
      font-size: 12px;
      grid-template-columns: 60px 1fr;
    }
    display: grid;
    grid-template-columns: 70px 1fr;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    .ingredient__layout__radio__title {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px 0px 0px 10px;
      color: #ffffff;
      background-color: $transparent-black;
    }
    .ingredient__layout__radio__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 5px;
      padding: 0px 10px;
      align-items: center;
      label {
        display: block;
        padding: 5px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"]:checked + label {
        color: #ffffff;
        background-color: $orange;
      }
      input[type="number"] {
        padding-left: 10px;
      }
      input[type="number"],
      input[type="date"] {
        width: 100%;
        font-size: 14px;
        padding: 5px;
        margin: 0;
        border-radius: 5px;
      }
    }
    .ingredient__layout__radio__list--amount {
      grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr;
    }
  }
  .ingredient__layout__radio__container--date {
    .ingredient__layout__radio__list {
      grid-template-columns: 1fr;
    }
  }
  .ingredient__layout__btn {
    @media screen and (max-width: 767px) {
      font-size: 15px;
    }
    margin-top: 10px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
