.join {
  padding-top: 50px;
  .join__header {
    @include box;
    @include titleHeader;
  }
  .join__container {
    @include box;
    @include titleBox;
    input[type="submit"] {
      color: #ffffff;
      background-color: $transparent-black;
      cursor: pointer;
    }
  }
}
