.login {
  padding-top: 50px;
  .login__header {
    @include box;
    max-width: 400px;
    margin: 0 auto;
    padding: 35px 0px 55px 0px;
    color: #ffffff;
    background-color: $orange;
    .page__title {
    }
  }
  .login__container {
    @include box;
    max-width: 400px;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transform: translateY(-30px);
    .login__btn {
      @include formButton;
      background-color: $transparent-black;
      color: #ffffff;
    }
    .login__list {
      display: flex;
      flex-direction: column;
      .github__login {
        background-color: $orange;
      }
      .join__btn {
        color: #000;
        background-color: rgba(0, 0, 0, 0.05);
        margin-bottom: 0px;
      }
    }
  }
}
