.login {
  padding-top: 50px;
  .login__header {
    @include box;
    @include titleHeader;
  }
  .login__container {
    @include box;
    @include titleBox;
    .login__btn {
      @include formButton;
      background-color: $transparent-black;
      color: #ffffff;
    }
    .login__list {
      display: flex;
      flex-direction: column;
      .github__login {
        background-color: $orange;
      }
      .join__btn {
        color: #000;
        background-color: rgba(0, 0, 0, 0.05);
        margin-bottom: 0px;
      }
    }
  }
}
