.user__detail {
  .user__detail__box {
    @include box;
    display: flex;
    align-items: center;
    .user__detail__avatar--image {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
    .user__detail__info {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      font-weight: lighter;
      .user__detail__name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .user__detail__edit {
        margin-bottom: 3px;
      }
      .user__detail__logout {
      }
    }
  }
  .user__detail__list__container {
    @include box;
    padding-bottom: 35px;
    .user__detail__list__title {
      font-size: 20px;
      font-weight: bold;
    }
    .user__detail__list {
      display: flex;
      justify-content: space-around;
      gap: 20px;
      padding-top: 30px;
      border-color: rgba(0, 0, 0, 0.3);
      li {
        background-color: $orange;
        color: #ffffff;
        width: 100%;
        max-width: 150px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        a {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-size: 15px;
          i {
            font-size: 32px;
            margin-bottom: 15px;
          }
          .user__detail__count {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 18px;
            font-weight: bold;
            background: #2e2e2e;
            width: 30%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          }
        }
      }
    }
  }
}
