.user__edit {
  padding-top: 30px;
  .user__edit__header {
    @include box;
    @include titleHeader;
  }
  .user__edit__container {
    @include box;
    @include titleBox;
    .user__edit__avatar {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 20px;
      .user__edit__avatar__image {
        width: 150px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
      .user__edit__avatar__no--image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.1);
        i {
          font-size: 36px;
        }
      }
    }
    .form {
      .user__edit__avatar__label {
        align-self: center;
        margin-bottom: 30px;
        label {
          font-size: 12px;
          color: #ffffff;
          background-color: $transparent-black;
          padding: 5px 20px;
          border-radius: 20px;
          cursor: pointer;
        }
      }
      .user__edit__btn {
        @include formButton;
        color: #ffffff;
        background-color: $transparent-black;
      }
      .user__edit__btn--change--password {
        color: $black;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
