.user__password {
  padding-top: 30px;
  .user__password__header {
    @include box;
    @include titleHeader;
  }
  .user__password__container {
    @include box;
    @include titleBox;
    .user__password__btn {
      background-color: $transparent-black;
      color: #ffffff;
    }
  }
}
