.user__detail {
  padding-top: 50px;
  .user__detail__header {
    @include box;
    @include titleHeader;
  }
  .user__detail__container {
    @include box;
    @include titleBox;
    display: flex;
    flex-direction: column;
    .user__detail__container__head {
      display: flex;
      align-items: center;
      .user__detail__avatar--image {
        width: 100px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
      }
      .user__detail__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        aspect-ratio: 1/1;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        i {
          font-size: 32px;
        }
      }
      .user__detail__info {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        font-weight: lighter;
        .user__detail__name {
          font-size: 28px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        .user__detail__edit {
          margin-bottom: 3px;
        }
      }
    }
    .user__detail__list {
      display: flex;
      justify-content: space-around;
      gap: 20px;
      margin-top: 30px;
      margin-bottom: 20px;
      padding-top: 40px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      li {
        background-color: rgba(0, 0, 0, 0.1);
        width: 90px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        a {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-size: 12px;
          i {
            font-size: 26px;
            margin-bottom: 10px;
          }
          .user__detail__count {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 3px;
            right: 0;
            width: 25px;
            font-size: 14px;
            color: #ffffff;
            background: $orange;
            aspect-ratio: 1/1;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          }
        }
      }
    }
  }
}
