haeder
    ul  
        li 
            i(class="fas fa-leaf")
            span Fresh Recipes
        Li 
            if !loggedIn
                a(href="/join") 로그인
            if loggedIn
                a(href="/logout") 로그아웃