nav 
    ul 
        a(href="/")
            li 
                i(class="fas fa-home")
                span 홈
        a(href=`/user/${loggedInUser._id}/ingredients`)
            li 
                i(class="fas fa-apple-alt")
                span 냉장고
        a(href="/recipes")
            li 
                i(class="fas fa-utensils")
                span 레시피
        a(href="/square")
            li 
                i(class="fas fa-concierge-bell")
                span 레시피 광장
        if !loggedIn
            a(href="/login")
                li 
                    i(class="fas fa-user")
                    span 로그인
        if loggedIn
            a(href=`/user/${loggedInUser._id}`)
                li 
                    i(class="fas fa-user")
                    span 내 정보