extends ../base

block content
    div 
        if messages.success
            span=messages.success
        h3 회원정보 변경
        form(method="post")
            input(type="file") 
            input(type="text" placeholder="이름" name="name" value=user.name) 
            input(type="submit" value="수정하기")
    if loggedInUser._id === user._id.toString()
        div 
            a(href=`/user/${loggedInUser._id}/password`)  비밀번호 변경
            
    
