extends ../base

block content
    div 
        if messages.success
            span=messages.success
        h3 회원정보 변경
        form(method="post" enctype="multipart/form-data")
            label(for="avatar") 프로필
            input(type="file" name="avatar" id="avatar" accept="image/*") 
            input(type="text" placeholder="이름" name="name" value=user.name) 
            input(type="submit" value="수정하기")
    if loggedInUser._id === user._id.toString()
        div 
            a(href=`/user/${loggedInUser._id}/password`)  비밀번호 변경
    
