extends ../base 
include ../mixins/ingredient

block content
    div.user__ingredient
        if loggedInUser._id === user._id.toString()
            h3.page__title 나의 냉장고
        else 
            h3.page__title #{user.name}의 냉장고
        ul.user__ingredient__nav
            li.select
                span 보관중인 재료 
            li 
                span 유통기한 임박 재료
            li 
                span 구입 목록 재료                                
        div.user__ingredient__container
            div.user__ingredient__box
                h5 냉장
                ul.user__ingredient__list
                    each ingredient in coldStore
                        +ingredient(ingredient)
            div.user__ingredient__box
                h5 냉동
                ul.user__ingredient__list
                    each ingredient in frozenStore
                        +ingredient(ingredient)
            div.user__ingredient__box
                h5 상온
                ul.user__ingredient__list
                    each ingredient in roomStore
                        +ingredient(ingredient)
        div.user__ingredient__container.hidden
            div.user__ingredient__box
                ul.user__ingredient__list
                    each ingredient in periodIng 
                        +ingredient(ingredient)
        div.user__ingredient__container.hidden
            div.user__ingredient__box
                ul.user__ingredient__list
                    each ingredient in purchaseIng 
                        +ingredient(ingredient)
    a(href="/ingredient/add").add__btn
        i(class="fas fa-plus")
        