extends ../base

block content
    div 
        if messages.success
            span=messages.success
        if messages.error
            span=messages.error
        form(method="post") 
            input(type="password" placeholder="현재 비밀번호" name="oldPassword" required)
            input(type="password" placeholder="새로운 비밀번호" name="newPassword" required)
            input(type="password" placeholder="새로운 비밀번호 확인" name="newPasswordConfirm" required)
            input(type="submit" value="비밀번호 변경")
