extends ../base

block content 
    div
        div 
        h5 #{user.name}의 냉장고
        if loggedInUser._id === user._id.toString()
            a(href="/logout") 로그아웃
    div 
        ul 
            a
                li 
                    i(class="fas fa-apple-alt")
                    span 냉장고 재료
                    span 
            a
                li 
                    i(class="fas fa-utensils")
                    span 레시피
                    span 
            a
                li 
                    i(class="fas fa-heart")
                    span 찜한 레시피
                    span 
    if loggedInUser._id === user._id.toString()
        div 
            a(href=`/user/${loggedInUser._id}/edit`) 프로필 수정