extends ../base

block content
    div.user__password
        if messages.success
            span=messages.success
        if messages.error
            span=messages.error
        div.user__password__header
            h3.page__title 회원정보 변경
        div.user__password__container
            form(method="post").form
                input(type="password" placeholder="현재 비밀번호" name="oldPassword" required)
                input(type="password" placeholder="새로운 비밀번호" name="newPassword" required)
                input(type="password" placeholder="새로운 비밀번호 확인" name="newPasswordConfirm" required)
                input(type="submit" value="비밀번호 변경").user__password__btn
