extends ../base

block content 
    div
        div 
        h5 #{user.name}의 냉장고
    div 
        ul 
            a
                li 
                    i(class="fas fa-apple-alt")
                    span 냉장고 재료
            a
                li 
                    i(class="fas fa-utensils")
                    span 레시피
            a
                li 
                    i(class="fas fa-heart")
                    span 찜한 레시피
    div 
        a 프로필 수정하기