extends ../base 
include ../mixins/recipe

block content 
    div 
        if user.recipes.length === 0
            span 레시피를 추가해주세요.
        else
            each recipe in user.recipes
                +recipe(recipe)
    a(href="/recipe/add")
        i(class="fas fa-plus")
        